/* Common styles */
#toploader {
  height: 0.5rem;
}

.navlogo {
  vertical-align: bottom;
}

#nav-admin-dropdown {
  list-style-type: none;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Kiosk specific styles */
html,body { height: 100%; margin: 0; padding: 0; }

.full-height { height: 100% }

.bg-available {
  background-color: #4caf50;
}

.bg-unavailable {
  background-color: #e53935;
}

.kiosk-status {
  font-size: 8rem;
}

#meetingNext {
  height: 10rem;
  display: flex;
}

.bottom-align-text {
  align-self: flex-end;
}

/* Home page specific styles */
.card-bg-color-one {
  background-color: #99dde7;
}

.card-bg-color-two {
  background-color: #2ec7c0;
}

.card-bg-color-three {
  background-color: #87dfe9;
}

.card-bg-color-four {
  background-color: #b2e5ed;
}

.card-bg-color-five {
  background-color: #00abc5;
}

.card-bg-color-six {
  background-color: #99dde7;
}

.card-bg-color-seven {
  background-color: #2ec7c0;
}

.card-bg-color-eight {
  background-color: #87dfe9;
}

.btn-circle-lg {
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.75rem 0.463rem;
  font-size: 1.125rem;
  line-height: 1.33;
  border-radius: 1.563rem;
}

/* Edit modal specific styles */
.fade-transition {
  transition: all 1s ease-in-out;
}

/* Config page specific styles */
.list-group-item-input {
  padding: 0;
}

/* Meeting table specific styles */
@media only screen and (min-width: 768px) {
  td {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 5rem;
  }

  .table th:nth-of-type(6) {
    width: 7rem;
  }

  .table th:nth-of-type(n+4),
  .table td:nth-of-type(n+4) {
      text-align: center;
  }
}


@media only screen and (max-width: 768px) {

  /* Force table to not be like tables anymore */
  table.tbl-responsive, .tbl-responsive thead, .tbl-responsive tbody, .tbl-responsive th, .tbl-responsive td, .tbl-responsive tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .tbl-responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .tbl-responsive tr { border: 0.1rem solid rgb(222, 226, 230); }

  .tbl-responsive.table td { /* .table class for overriding bootstrap default styles (specifically padding-left)  */
    /* Behave  like a "row" */
    border: none;
    border-bottom: 0.1rem solid rgb(222, 226, 230);
    position: relative;
    padding-left: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tbl-responsive td:before {
    /* Now like a table header */
    position: absolute;
    /* left value mimics padding */
    left: 0.5rem;
    width: 45%;
    padding-right: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Label the data */
    #table-rooms td:nth-of-type(1):before { content: "Name"; }
    #table-rooms td:nth-of-type(2):before { content: "Location"; }
    #table-rooms td:nth-of-type(3):before { content: "Facilities"; }
    #table-rooms td:nth-of-type(4):before { content: "Capacity"; }
    #table-rooms td:nth-of-type(5):before { content: "Status"; }
    #table-rooms td:nth-of-type(6):before { content: "Action"; }

    #table-meetings td:nth-of-type(1):before { content: "Date and Time"; }
    #table-meetings td:nth-of-type(2):before { content: "Description"; }
    #table-meetings td:nth-of-type(3):before { content: "Meeting Room"; }
    #table-meetings td:nth-of-type(4):before { content: "Meeting Service"; }
    #table-meetings td:nth-of-type(5):before { content: "Action"; }

    #table-users td:nth-of-type(1):before { content: "User ID"; }
    #table-users td:nth-of-type(2):before { content: "Role"; }
    #table-users td:nth-of-type(3):before { content: "Status"; }
    #table-users td:nth-of-type(4):before { content: "Comment"; }
    #table-users td:nth-of-type(5):before { content: "Action"; }
}
